
{{#if danger }}
    <div class="alert-msg alert-msg-danger" id='alert-msg' role='alert'>
      {{ danger }}
    </div>
{{/if}}


{{#if success }}
    <div class="alert-msg alert-msg-success" id='alert-msg' role='alert'>
      {{ success }}
    </div>
{{/if}}
