<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto card bg-dark form">
      <div class="card-header border-bottom border-esp">
        <h3 class="text-center text-esp">Iniciar Sesión</h3>
      </div>
      <div class="card-body">
        <form action="/signin" method="post" autocomplete="off">
          <div class="form-group py-2">
            <label for="username" class='text-light lead'>Nombre de Usuario:</label>
            <input type="text" required id='username' name="username" placeholder="Nombre de Usuario" class="form-control">
          </div>
          <div class="form-group py-2">
            <label for="password" class='text-light lead'>Contraseña:</label>
            <input type="password" required id='password' name="password" placeholder="Contraseña" class="form-control">
          </div>
          <div class="form-group">
            <button type='submit' class="btn btn-success w-100 btn-block">Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
